
# no MacOS files
/.DS_Store

# no dropbox attributes files
*dropbox.attr

# ignore all packrat and RStudio project related files
.project
packrat/lib*/

# R stuff
.Rhistory
.Rapp.history
.RData

# RStudio files
.Rproj.user
/r.Rproj

# knitr and R markdown default tmp files and cache directories
/*_cache/
/cache/
*.utf8.md
*.knit.md

# ignore files related to adding keyword expansion
# Revision Info: Id, Author and Date in file header
filter_clean
filter_smudge
